// Prerequisites: 1) hidden checkbox (alter id as desired)

// Variables

$wrapperWidth: 384px;
$labelFontSize: 24;
$labelPrimaryColor: #333;
$labelSecondaryColor: white;
$labelPrimaryBgColor: white;
$labelSecondaryBgColor: rebeccapurple;
$bubbleFontSize: 16;
$bubbleBgColor: white;
$primaryLinkColor: black;
$secondaryLinkColor: cyan;

// Main content

div.thoughtBubble {
  width: $wrapperWidth;
  display: flex;
  flex-direction: column-reverse; // The bubble is placed later in the DOM but above the label visually
  justify-content: center;
  align-items: center;
  position: relative; // To position the bubble list
}

// When the hidden checkbox is checked
input#toggler:checked {
  &~label[for="toggler"]>span {
    &.under {
      position: relative;
      opacity: 1;
    }

    &.over {
      position: absolute;
      opacity: 0;
    }
  }

  &~ul#shareLinks {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: $bubbleFontSize * 0.5px;
  }
}

label[for="toggler"] {
  display: inline-flex; // Taking up as much space as its content, but using flexbox instead of inline-block!
  justify-content: center;
  align-items: center;
  padding: $labelFontSize * 0.2px $labelFontSize * 0.4px ;
  font-size: $labelFontSize * 1px;
  color: $labelPrimaryColor;
  background-color: $labelPrimaryBgColor;
  border-radius: 8px;
  cursor: pointer; // No need to use :hover, it is clear
  position: relative; // To position the children spans
  user-select: none; // Make text not selectable
  box-shadow: 0 0 4px 0 #333;

  &:hover,
  &:active {
    color: $labelSecondaryColor;
    background-color: $labelSecondaryBgColor;
  }

  &>span {
    top: 0; // Relative to the label positioning
    left: 0;
    // background-color: $primaryBgColor;
   
    &.under {
      position: absolute; // Removed from the document flow
      opacity: 0;
    }

    &.over {
      position: relative; // Within the document flow;
      opacity: 1;
    }
  }
}

ul#shareLinks {
  display: none;
  max-width: 100%;
  list-style-type: none;
  position: absolute;
  bottom: calc(100% + 16px); // Places the bubble list above the label, sass won't generate calc by itself
  border-radius: 16px;
  background-color: $bubbleBgColor;
  padding: $bubbleFontSize * 0.5px $bubbleFontSize * 1px ;
  box-shadow: 0 -2px 8px -2px #333;

  &>li {
    cursor: pointer;
    color: $primaryLinkColor;
    font-size: $bubbleFontSize * 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:hover,
    &:active {
      color: $secondaryLinkColor;
    }
  
    &::before {
      content: '';
      display: inline-block;
      margin-right: $bubbleFontSize * 0.5px;
      width: $bubbleFontSize * 1px;
      height: $bubbleFontSize * 1px;
    }

    &:nth-child(1) { // Can't use :nth-child on pseudo-elements, not in the DOM tree
      &::before {
        background-image: url('./messenger.png');
      } 
    }
  }

  &::after {
    content: '';
    display: inline-block; // To respect absolute positioning and measures
    position: absolute;
    top: 100%;
    align-self: center;
    background-color: $bubbleBgColor;
    width: 12px;
    height: 12px;
    clip-path: polygon(0 0, 50% 100%, 100% 0, 0 0);
  }
}