@font-face {
  font-family: 'Cera GR'; /* Internal name is not dependent on the file's name */
  src: url('../fonts/CeraGR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;	
}
  
body {
  font-family: 'Cera GR', sans-serif;
  font-size: medium;
}
  
a,
label[for],
button {
  cursor: pointer; /* No need to us :hover, it is evident */
}
  	    
a {
  font-style: normal;
  text-decoration: none;

  &:not([href="#toc"]):active {
    color: rebeccapurple;
  }

  &[href="#toc"] {
    display: block; /* To respect dimensions and margins */
    width: 2rem;
    height: 2rem;
    background-color: orange;
    margin: 0 8vw 2rem auto;
  }
} 

main {
  width: 100vw;
  height: auto;
  text-align: left;

  &>*:not(h2) {
    margin-left: 8vw; /* Can't use margin-top here, it overpowers type selectors */
    margin-right: 8vw;   
  }
}

h2 {
  padding: 0.25rem 0 0.25rem 8vw;
  background-color: orange;
  color: white;
  margin-bottom: 2rem; /* Smaller top margins collapse */
  
  &:not(:first-of-type) { 
    margin-top: 2rem;
  }
}

h3 {
  height: 3rem;
  background-color: cyan;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
} 
  
p {
  margin-top: 1rem;
}   

span.highlighted {
  background-color: gold;
}

ul {
  list-style: none;

  &>li { /* li is an inline level element */
    margin-top: 0.5rem;
    display: grid;
    column-gap: 0.75rem;

    &::before {
      content: ''; /* It is a grid item, no need for inline-block display */
    }
  }
   
  &#toc {
    counter-reset: index; /* Set a counter at 0 */
    
    &>li {  
      grid-template-columns: 1.25rem 1fr;

      &:not(first-child) {
        margin-top: 1rem;
      }
      
      &::before {
        counter-increment: index; /* Increase the counter at every instance */
        content: counter(index); /* Can concatenate any additional characters within " " after a space and before the semicolon */
        background-color: #9e5fa3;
        height: 1.25rem; /* Not stretching the whole row */
        color: white;
        line-height: 1.2;
        text-align: center;
      }
    }
  }
  
  &:not(#toc) {
    &>li {
      grid-template-columns: 1rem 1fr;	  
      
      &::before {
        height: calc(1rem * 2.31); /* Factor for isosceles triangle, we need half the box for aligning purposes */
        background-color: green;
        clip-path: polygon(0 2%, 100% 27%, 0 52%, 0 2%);
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  main {
    text-align: justify;
  }
}
