/* FONT-FACES */

@font-face {
  font-family: "Cera-GR"; /* Internal name is not dependent on the file's name */
  src: url("../fonts/CeraGR.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
}

/* NULLIFYING USER AGENT SHEET PROPERTIES */

a,
button {
  cursor: pointer; /* No need to us :hover, it is evident */
}
  	    
a {
  font-style: normal;
  text-decoration: none;  
} 

button {
  border: none;
  background-color: transparent;
}

details { /* Semanting element for dropdown nestings */
  &>summary {
    list-style: none; /* Remove the default marker in Firefox, Chrome, Edge */
  }

  &>summary::-webkit-details-marker {
    display: none; /* Remove the default marker in Safari */
  }
}

ul {
  list-style: none;
}

/* GENERAL PROPERTIES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &.invisible {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: no-wrap;
    border: 0; /* Legacy hardened and more absolute than border: none */
  }
}

html, 
body {
  width: 100%; /* More consistent than viewport units */
  height: 100%;
}
  
body {
  /* Custom CSS properties */
  --theme-bg-colour: transparent; /* #96f */
  --bubble-tail: 20px;
  --edge-gap: min(12px, 8vh); /* Maximum gap on the edges is 12 pixels */
  /* Logo and button are squares, equal dimensions */
  --button: min(20px, 12vh);
  --logo: min(48px, 10vh);
  --nav-head: calc(2 * var(--edge-gap) + var(--logo));
  --nav-bg-colour: #fbf5df;
  --clipping-duration: 600ms;
  --fade-duration: 200ms;
  --nav-head-frame: polygon(
    0 0,
    100% 0,
    100% calc(var(--edge-gap) + var(--logo)),
    calc(100% - var(--edge-gap)) 100%,
    0 100%
  );
  --trigram-line: calc(var(--button) / 5); /* Operating on unitless numbers preserves the unit */
  --trigram-duration: 400ms;
  --link-font-size: clamp(1.5rem, 1vw + 1rem, 2rem); /* Add one rem to the middle value to respect zoom stylings */
  --slogan-frame: polygon( /* Requires a top-padding of at least var(--bubble-tail) */
    0 0,
    var(--bubble-tail) var(--bubble-tail),
    calc(100% - var(--bubble-tail)) var(--bubble-tail),
    100% calc(2 * var(--bubble-tail)),
    100% 100%,
    0 100%
  );
  /*
  --slogan-frame-2: polygon(
    0 0,
    20px 20px,
    calc(50vw - 16px) 20px,
    50vw 32px,
    calc(50vw + 16px) 20px,
    calc(100% - 24px) 20px,
    100% 0,
    100% 100%,
    0 100%
  );
  */
  --h2-frame: polygon( /* Needs at least 2 * var(--bubble-tail) bottom padding */
    0 0,
    100% 0,
    calc(100% - var(--bubble-tail)) calc(100% - var(--bubble-tail)),
    calc(25% + var(--bubble-tail)) calc(100% - var(--bubble-tail)),
    25% 100%,
    25% calc(100% - var(--bubble-tail)),
    var(--bubble-tail) calc(100% - var(--bubble-tail))
  );
  --h2-bg-colour: gold;
      /*
      var(--bubble-tail) 0,
      calc(100% - var(--bubble-tail)) 0,
      100% var(--bubble-tail),
      100% calc(100% - 2 * var(--bubble-tail)),
      calc(100% - var(--bubble-tail)) calc(100% - var(--bubble-tail)),
      calc(25% + var(--bubble-tail)) calc(100% - var(--bubble-tail)),
      25% 100%,
      25% calc(100% - var(--bubble-tail)),
      var(--bubble-tail) calc(100% - var(--bubble-tail)),
      0 calc(100% - 2 * var(--bubble-tail)),
      0 var(--bubble-tail)
      */

  /* Other body properties */
  font-family: "Cera-GR", Sans-serif;
  font-size: medium; /* Default */
}

/* MOBILE-FIRST PROPERTIES */

header {
  width: 100%;
  height: 100vh; /* Fallback */
  height: 100svh; /* Shortest full viewport */
  background: url('../../assets/images/hero.jpg') center/cover no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

nav {
  width: 100%;
  height: 100vh;
  height: 100dvh; /* Dynamically cover the viewport at every position, scroll locking is in place */
  position: fixed;
  top: 0;
  z-index: 1; /* Above p#slogan and main, which are located at subsequent stack contexts, auto-indexed and z-index 0 respectively */
  display: grid;
  grid-template-rows: var(--nav-head) 1fr;
  grid-template-columns: var(--button) var(--logo) 1fr;
  grid-template-areas:
    "trigram logo brand"
    "links links links";
  justify-items: start; /* Inline (horizontal) axis */
  align-items: center; /* Block (vertical) axis */
  /* No column-gap or padding for alignment reasons */
  
  &::before { /* Pseudoelement for applying a background colour to nav header */
    content: "";
    position: absolute;
    z-index: -1; /* Placed below its auto-indexed sibling button and images */
    top: 0;
    left: 0;
    width: calc(3 * var(--edge-gap) + var(--button) + var(--logo));
    height: var(--nav-head);
    background-color: var(--theme-bg-colour);
    /* Transitioning on GPU-accelerated clip-path instead of CPU-intensive properties like height, which cause document reflow */
    transition: clip-path var(--clipping-duration) ease-in-out;
    transition-delay: 0s;
    clip-path: var(--nav-head-frame);
  }
}

button[aria-controls="links"] {
  width: var(--button);
  height: var(--button);
  margin-left: var(--edge-gap);
  grid-area: trigram;
  display: flex;
  flex-direction: column;
  row-gap: var(--trigram-line);
  /* The button has no transition delay in both states, more aesthetic this way */
  transition: transform var(--trigram-duration) ease-in-out;
  pointer-events: auto;

  &>span {
    width: 100%;
    height: var(--trigram-line);
    flex-shrink: 0;
    /* The animation may suffer if we solely transition upon transform and opacity */
    transition: all calc(var(--trigram-duration) / 2) ease-in-out; /* Half the label rotation's duration */
    transition-delay: 0s; /* If the navbar is already expanded, transition immediately */
    background-color: #333;
  }
}

img.logo {
  height: var(--logo);
  grid-area: logo;
  margin-left: calc(2 * var(--edge-gap));
  transition: transform var(--clipping-duration) ease-in-out 0s;
}

img#brand,
ul#links>li {
  opacity: 0;
  transition: opacity var(--fade-duration) ease-in-out;
  transition-delay: 0s; /* After pressing the hamburger button when the navbar is already expanded, transition immediately */
}

img#brand {
  height: calc(.75 * var(--logo));
  grid-area: brand;
  margin-left: calc(3 * var(--edge-gap)); /* Juxtaposed to img.logo */
}

ul#links {
  width: 100%;
  height: 100%;
  grid-area: links;
  overflow-y: auto;
  background-color: var(--theme-bg-colour);
  list-style: none;
  transition: clip-path var(--clipping-duration) ease-in-out 0s;
  /* Checkpoint */
  clip-path: polygon(
    0 0,
    calc(var(--bubble-tail) / 2) 0,
    var(--bubble-tail) 0,
    0 var(--bubble-tail),
    0 var(--bubble-tail)
  );
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &>li {
    width: 100%;
    flex-shrink: 0; /* All flex anchor items won't get squished (scootched) on overflows */
    /* padding: .2rem var(--edge-gap); */

    & a {
      font-size: var(--link-font-size);
      user-select: none; /* Can't highlight anything, it can be inherited but some browsers inject specific styling for it */
      margin-left: var(--edge-gap);
    }
  }
}

details {
  &>summary {
    margin-left: var(--edge-gap);
    font-size: var(--link-font-size);
    user-select: none;
    display: flex;
    align-items: center;

    &::after {
      content: '';
      background-color: black;
      display: inline-block; /* To respect transition and size*/
      margin-left: .75rem;
      width: var(--link-font-size);
      height: var(--link-font-size);
      clip-path: polygon(
        0 25%,
        30% 25%,
        50% 50%,
        70% 25%,
        100% 25%,
        50% 85%
      );
    }
  }
}

details[open] {
  &>summary {
    &::after {
      transform: rotate(-180deg);
    }
  }

  &>ul {
    background-color: gold;
    padding-left: var(--edge-gap);
  }
}

nav.is-retracted {
  pointer-events: none; /* Disable nav's pointer-events so elements in main and footer can be toggled, only the hamburger button should be reacheable at all times */
}

nav.is-expanded {
  --nav-head-frame: polygon(
    0 0,
    calc(2 * var(--edge-gap) + var(--button)) 0,
    calc(2 * var(--edge-gap) + var(--button)) calc(var(--edge-gap) + var(--logo)),
    calc(3 * var(--edge-gap) + var(--button)) 100%,
    0 100%
  );

  pointer-events: auto; /* Enable all pointer events */

  &>button[aria-controls="links"] {
    transform: rotate(-180deg);

    &>span {
      &:not(:nth-child(2)) {
        transition-delay: calc(var(--trigram-duration) / 2); /* Waiting for half of the label rotation's durationinstead of the whole (smoothness) */
      }

      &:nth-child(1) {
        /* Translation first, otherwise the transform-origin skewes the translation after rotation */
        transform: translateY(calc(var(--trigram-line) * 2)) rotate(-45deg); /* Aligning its center with the label's */
      }

      &:nth-child(2) {
        /* Central span becomes opaque, with no delay, start the opacity's transition a little sooner, we don't care about the bg colour since the span becomes opaque */
        transition-delay: calc(var(--trigram-duration) / 4);
        opacity: 0;
      }
   
      &:nth-child(3) {
        transform: translateY(calc(var(--trigram-line) * -2)) rotate(45deg);
      }
    }
  }

  &>img.logo {
    transform: translateX(var(--edge-gap));
    /*
    transform: translateX(calc(50vw - 3 * var(--edge-gap) - var(--logo) / 2)); - 2 * var(--edge-gap) plus the left margin, translateX to the middle of teh viewport
    transform: translateX(calc(50dvw - 3 * var(--edge-gap) - var(--logo) / 2));
    */
    animation-duration: calc(var(--clipping-duration) / 2);
    animation-timing-function: linear;
    animation-iteration-count: 2;

    &.middle {
      animation-name: blinking-middle;
    }

    &.top {
      animation-name: blinking-top;
    }
  }

  &>img#brand,
  &>ul#links>li {
    opacity: 1;
    transition-delay: var(--clipping-duration); /* After pressing the hamburger button when the navbar is retracted, wait for the clipping to complete */
  }

  &>ul#links {
    clip-path: polygon(
      100% 0,
      100% 100%,
      0 100%,
      0 var(--bubble-tail),
      0 0
    );
  }      
}

p#slogan {
  width: 100vw;
  width: 100dvw;
  height: auto;
  position: fixed;
  bottom: 0;
  padding: 32px 8px 8px;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  overflow-wrap: break-word;
  background-color: var(--theme-bg-colour);
  clip-path: var(--slogan-frame);
}

main {
  --vertical-gap: 4rem;
  --horizontal-gap: 10vw;

  position: relative; /* To create a stacking context coupled with z-index, so main can be placed above p#slogan, which is a previous element with its own stack-context */
  z-index: 0; /* Lowest possible z-index for p#slogan to slide under main */
  background-image: linear-gradient(
    260deg,
    rgb(239, 234, 234) 0%,
    rgb(225, 234, 234) 100%
  );
  padding-top: var(--vertical-gap);
  display: flex;
  flex-direction: column;
  row-gap: var(--vertical-gap);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;

  &>p { 
    align-self: flex-start;
  }

  &>img {
    width: clamp(300px, 60vw, 400px);
    box-shadow: 2px 2px 4px #333;
  }
}

section:not(#contact-form) {
  padding: 0 var(--horizontal-gap);

  &>h2 {
    padding: 0 var(--bubble-tail) var(--bubble-tail);
    width: max-content;
    clip-path: var(--h2-frame);
    background-image: linear-gradient(
      to bottom,
      transparent 0 40%,
      var(--h2-bg-colour) 40% 100%
    );
  }
}

section#contact-form {
  width: 100%; 
  background-color: var(--theme-bg-colour);
  padding: calc(2 * var(--bubble-tail)) 0;
  clip-path: var(--slogan-frame);

  &>h2 {
    color: white;
    text-align: center;
  }
}

form {
  max-width: 42rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

  &>input,
  &>textarea,
  &>button {
    font-size: 1.25rem;
  }

  &>input,
  &>textarea {
    width: 100%;
    background-color: var(--theme-bg-colour); /* White gets injected here by the browser */
    border: 1px solid white;
    padding: 0.5rem;
    color: white;
    transition: border-color 0.15s ease, background-color 0.15s ease;

    &:focus {
      outline: none; /* An outer ring gets injected */
      border-color: white;
      background-color: var(--theme-bg-colour);
    }
  }

  &>input {
    margin-bottom: 1rem;
  }

  &>textarea {
    margin-bottom: 2rem;
  }

  &>button {
    padding: .5rem 1rem 1.75rem;
    background-color: rebeccapurple;
    color: white;
    border: none;
    text-align: center;
    clip-path: polygon(
      0 15%,
      10% 0,
      90% 0,
      100% 15%,
      100% calc(85% - var(--bubble-tail)),
      90% calc(100% - var(--bubble-tail)),
      calc(25% + var(--bubble-tail)) calc(100% - var(--bubble-tail)),
      25% 100%,
      25% calc(100% - var(--bubble-tail)),
      10% calc(100% - var(--bubble-tail)),
      0 calc(85% - var(--bubble-tail))
    );

    &:hover,
    &:focus {
      outline: none;
      background-color: white;
      color: black;
    }

    &:active {
      background-color: white;
      color: black;
    }
  }
}

footer {
  position: relative;
  z-index: 0;
  width: 100%;
  height: auto;
  background-color: #333;
  padding: 16px;
  color: white;
  display: grid;
  grid-template-areas:
    "one"
    "two"
    "logo"
    "three"
    "four";
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
  justify-items: center;
  align-items: start;
  justify-content: center;

  &>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1rem;
  
    &.contact {
      grid-area: one;
    }
  
    &.address {
      grid-area: two;
    }
  
    &.links {
      grid-area: three;
    }
  
    &.social {
      grid-area: four;
    }
  
    & a,
    &>h2 {
      text-align: center;
    }
  
    & a {
      font-size: 1.25rem;
      color: #ccc;
  
      &:hover,
      &:focus,
      &:focus-visible,
      &:active {
        color: white;
      }
    }

    &>address {
      display: flex;
      flex-direction: column;  
      justify-content: flex-start;
      align-items: center;
    }
  }
}

iframe {
  width: clamp(200px, 80%, 300px);
  aspect-ratio: 1 / 1;
  grid-area: logo;
  place-self: center;
  mask-image: url(#owl-mask);
  -webkit-mask-image: url(#owl-mask);   /* Safari still needs the prefix */
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

/*====MEDIA QUERIES====*/

@media only screen and (min-width: 320px) { /* For wider smartphones */
}

@media only screen and (min-width: 480px) { /* Landscape mode */
}

/* Need to have a JS validation for the one-liner navbar */

@media only screen and (min-width: 768px) { /* Medium screens */
  nav {
    width: 30vw;
  }

  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "one two"
      "logo logo"
      "three four";
  }

  section {
    &>h2 {
    }

    &#contact-form {
      display: flex;
      flex-direction: column;
      justigy-content: flex-start;
      align-items: flex-start;
    }
  }

  form {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "name email"
      "msg msg"
      "submit submit";
    gap: 1rem;

    &>input,
    &>textarea {
      width: 100%;
      margin-bottom: 0;
    }

    &>input {
      &#name {
        grid-area: name;
      }

      &#email {
        grid-area: email;
      }
    }

    &>textarea {
      grid-area: msg;
    }

    &>button {
      grid-area: submit;
      justify-self: center;
    }
  } 
}

@media only screen and (min-width: 1024px) { /* Desktops */
  h2 {
    font-size: 2rem;
  }

  form {
    margin-top: var(--formPadding);

    &>input {
      &#name {
        justify-self: end;
      }

      &#email {
        justify-self: start;
      }
    }
  } 
}

/* Just for the footer */
@media only screen and (min-width: 1200px) {
  footer {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "one two logo three four";
  }
}

@media only screen and (hover: hover) { /* Apply on devices that support hovering */
  nav#navbar {
    & a,
    & label.dropdown {
      &:hover {
        background-color: rebeccapurple;
      }
    }
  }

/* HOVERING
details[open] {
  background-color: var(--nav-bg-colour);Cover up the parent ul's hovering bg colour
  &>summary,
  &>ul>li {
    &:hover {
      background-color: var(--theme-bg-colour);
    }
  }

  &>ul {
    background-color: gold;
  }
}
*/
}

/* KEYFRAME ANIMATIONS */

@keyframes blinking-middle {
  0%, 25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  75%, 100% {
    opacity: 1;
  }
}
    
@keyframes blinking-top {
  0% {
    opacity: 1;
  }

  25%, 50%, 75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
