* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* Custom CSS properties */
  &:root {
    --text-primary: #b6b6b6;
    --text-secondary: cyan;
    --bg-primary: #333;
    --bg-secondary: #141418;
    --coral-grad: linear-gradient(135deg, #EF7874 0%, #EC635D 100%);
    --purple-grad: linear-gradient(135deg, #9C4B9A 0%, #A971AD 100%);
    --yellow-grad: linear-gradient(135deg, #FCC048 0%, #FDBD41 100%);
    --banner-shadow: 0 0 8px black;
  }

  &.visually_hidden {
    position: absolute;
    width: 1px; /* Ensure that screen readers acknowledge it */
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0); /* Derpecated and substituted with clip-path, but more widespread with old browsers and screen readers */
    white-space: nowrap; /* Not enlarging the height */
    border: 0;
  }
}

body {
  font-size: medium;
  overflow-x: hidden;

  & a,
  & label[for],
  & button {
    &:hover {
      cursor: pointer;
    }
  }
    
  &>header {
    font-size: 1.25rem;

    & a {
      text-decoration: none;
      font-style: normal;
    }
    
    &>input#navbar-toggle:checked {
      &~nav {
        transition-delay: 0s; /* Not plain 0 for values of time */
        overflow: hidden auto;
        clip-path: polygon( /* Match the points one-to-one for optimal transition */
          0 0,
          100% 0,
          100% 100%,
          calc(100% - 96px) 100%,
          96px 100%,
          0 100%,
          0 0
        );
        pointer-events: auto;
        user-select: auto;

        &>a,
        &>label.dropdown { /* Immediate descendants only */
          &>span.destination {
            opacity: 1;
            transition-delay: 1s; /* 1s delay on the transition, waiting for the navbar to fully expand */
          }
        }
      }

      &~label[for="navbar-toggle"] {
        /* The hamburger button animation */
        &>span {
        background-color: red;
    
          &:nth-child(1) {
            transform-origin: top left;
            transform: translate(4px, 1px) rotate(45deg); /* Translate first, other wise the transform-origin skewes the translation after rotation */
          }

          &:nth-child(2) {
            transform-origin: top right;
            transform: translate(-4px, 1px) rotate(-45deg); 
          }
          
          /* Central blocks move out and become invisible */
          &:nth-child(3) {
            transform: translateX(-16px);
            opacity: 0;
          }

          &:nth-child(4) {
            transform: translateX(16px);
            opacity: 0;
          }

          &:nth-child(5) {
            transform-origin: bottom left;
            transform: translate(4px, -1px) rotate(-45deg); 
          }

          &:nth-child(6) {
            transform-origin: bottom right;
            transform: translate(-4px, -1px) rotate(45deg); 
          }
        }
      }
    }

    &>nav {
      position: fixed; /* Create a stacking context */
      top: 0;
      left: 0;
      z-index: 1; /* Appear on top of the arrows in the schedule tables that are at z-index 0 */
      width: 100vw; /* Fallback */
      width: 100lvw;
      height: 100vh; /* Fallback */
      height: 100lvh; 
      overflow: hidden;
      background-color: var(--bg-primary);
      /* Navbar behavior when it is inert*/
      pointer-events: none;
      user-select: none;
      /* Transition on GPU-accelerated clip-path instead of CPU-intensive height that causes document reflow */
      transition: clip-path 1s ease;
      transition-delay: 100ms; /* When navbar is unchecked, wait for the text to fade out */
      clip-path: polygon(
        0 0,
        100% 0,
        100% 72px,
        calc(100% - 72px) 20px,
        96px 20px,
        0 96px,
        0 0
      );
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      &>* {
        flex-shrink: 0; /* The flex items (direct nav children) won't get squished (scootched) on overflows */
      }

      &>img.logo {
        align-self: flex-start;
        margin: 8px 0 0 8px;
        width: 48px;
        height: auto;
      }

      /* Navbar behavior when it is expaned
      &.expaned {
        pointer-events: none;
        user-select: none;
      }
      */

      & input:checked+label.dropdown { /* Only the immediate sibling label */
        &>span.destination::after {
          transform: rotateZ(-180deg);
        }

        &+ul { /* Only the immediate sibling */
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          background-color: #999;
          list-style: none; 

          &>li {
            width: 100%;
            flex-shrink: 0;
            
            &>label.dropdown+ul { /* Submenus of depth 2 */
              background-color: #CCC; 
            }
          }
        }   
      }

      & a,
      & label.dropdown {
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        &:hover,
        &:focus,
        &:focus-visible { /* It abolishes moot focus, fallback is focus */
          border: 2px solid black;
        }
      }

      & label.dropdown {
        &>span.destination {
          &::after {
            content: "\25bc";
            display: inline-block; /* To respect the transition */
            margin-left: 16px;
            transition: transform 600ms ease;
          }
        }
 
        &+ul {
          display: none;
        }
      }

      &>a,
      &>label.dropdown {
        &>span.destination { /* Only the spans of the top level navigation items */
          opacity: 0;
          overflow: hidden;
          transition: opacity 100ms ease;
          transition-delay: 0s;
        }
      } 
    }

    &>label[for="navbar-toggle"] {
      position: fixed;
      z-index: 1; /* At the same level as the navbar */
      top: 16px;
      right: 16px;
      width: 20px;
      height: 20px;
      display: grid;
      grid-template-columns: repeat(2 , 1fr);
      grid-template-rows: repeat(3, 2fr);
      row-gap: 4px;

      &>span {
        height: 4px;
        transition: all 300ms ease-in-out; /* The animation is suffering if only transform, opacity and bg-color are listed */
        background-color: white;

         /* Line halves 1, 3, 5 */
        &:nth-child(odd) {
          border-radius: 16px 0 0 16px; /* Rounded border only on the left side */
        }

         /* Lines 2, 4, 6 */
        &:nth-child(even) {
          border-radius: 0 16px 16px 0; /* Rounded border only on the right side */
        }
      }
    }
   
    &>section.hero {
      height: 100vh;
      height: 100lvh;
      background: url('../images/hero.jpg') center/cover no-repeat;

      &>span.slogan {
        width: 100vw;
        width: 100lvw;
        height: 80px;
        transform: translateY(calc(100vh - 80px));
        transform: translateY(calc(100lvh - 80px));
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rebeccapurple;
        border-radius: 32px 0 32px 0;
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-shadow: var(--banner-shadow);
        text-align: center;
      }
    }
  } 
       
  &>main {
    padding: 10vh 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 64px;

    &>section.submissions {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 64px;

      &>img {
        width: 30vw;
        height: auto;
        object-fit: fill;
        box-shadow: 0 0 8px #333;
      }

      &>div.submissions-wrapper {
        width: 30vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 2rem;
        text-align: center;
      }
    }

    &>section.schedules {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 64px;
  
      &>figure.schedule {
        width: 384px;
        height: auto;
        padding-bottom: 64px;
        font-size: 20px;
        /* filter: drop-shadow(0 2px 4px #333); It creates a stacking context*/
        box-shadow: 0 0 8px #333;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 64px;
        font-weight: 500; /* Only in hundreds */

        &#humanities-social {
          background-image: var(--coral-grad);
        }

        &#natural {
          background-color: lightgreen;
        }

        &#medical {
          background-color: lightblue;
        }
  
        &#econ-informatics {
          background-color: gold;
        }

        &>figcaption {
          width: 100%;
          display: grid;
          grid-template-rows: 32px 48px 64px;
          grid-template-columns: 50% 50%;
          grid-template-areas: 
            "banner banner"
            "icons grade"
            "field-name field-label";
          row-gap: 16px;
          margin-top: -16px; /* Mainly for the banner, translating Y creates an undesired stacking context */
          margin-bottom: 16px;

          &>img {
            grid-area: icons;
            width: 48px;
            height: 48px;
            margin-left: 8px;

            &+img { /* If a second image exists */
              margin-left: 48px;
            }
          }
 
          &>div {
            display: flex; /* Center each section's text, which lies within a span element, not a raw text node */
            justify-content: flex-start;
            align-items: center;
            color: white;
      
            &.banner {
              grid-area: banner;
              margin-left: 75px;
              margin-right: 75px; 
              background-image: var(--purple-grad);
              font-size: 20px;
            }
  
            &.grade {
              grid-area: grade;
              font-size: 28px;
              padding: 4px 0;
              font-weight: bold;
   
              &>span.grade-index {
                padding: 2px 8px;
                margin-right: 4px;
                background-image: var(--purple-grad);
              }
            }

            &.field-name {
              grid-area: field-name;
              padding-left: 8px;
              background-image: var(--purple-grad);
              color: white;
              font-style: oblique;
            }

            &.field-label {
              grid-area: field-label;
              display: flex;
              justify-content: space-around;
              background-color: #ff9900;
              
              &>span {
                font-size: 18px;  
                color: black;
 
                &.field-index {
                  font-size: 28px;
                  font-style: oblique; 
                  font-weight: 600;
                }
              }
            }
          }
        }
 
        &>table {
          border: none;
          border-collapse: separate;
          border-spacing: 16px 16px; /* column gap, row gap */
  
          &>tbody>tr {
            width: auto;
            height: 40px;

            &::before {
              content: ''; 
              width: 16px;
              height: 16px;
              background-color: rebeccapurple;
              clip-path: polygon(
                0 0,
                100% 50%,
                0 100%,
                0 0
              ); /* Right triangle shape; */
              display: inline-block; /* To respect dimensions and margins */
              transform: translateY(50%); 
              position: relative;
              z-index: 0;
            }

            &>td {
              padding: 8px 16px;

              &.subject {
                background-color: #E6E6E6;
                color: #333;
              }
     
              &.hours {
                background-image: var(--purple-grad);
                color: #fff;
                text-align: center;
                font-weight: bold;
              }

              &.total-label {
                background-image: var(--purple-grad);
                color: #fff;
              }
            }
          }
        }
  
        &>a.download {
          width: auto;
          height: 48px;
          padding: 0 16px;
          border: 1px solid black;
          border-radius: 32px;
          font-size: 24px;
          color: black;
          background-color: white;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            color: white;
            background-color: rebeccapurple; 
            box-shadow: 0 2px 4px black;
          }
        }

        &>input.share {
          width: 300px;
          height: 48px;
          text-align: right;
          font-size: 24px;
        }
      }
    }
  }

  &>footer {
    background-color: gray;
    color: white;
    padding: 16px;
    display: grid;
    grid-template-areas:
      "one"
      "two"
      "logo"
      "three"
      "four";
    grid-template-columns: 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
    justify-items: center;
    align-items: start;
    justify-content: center;
  
    &>div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      row-gap: 1rem;

      &>h2,
      & a {
        text-align: center;
      }

      &>h2 {
        font-size: 2rem;
      }
      
      & a {
        font-size: 1.75rem;
        color: #333;
      }

      &.contact {
        grid-area: one;
      }

      &.address {
        grid-area: two;
      }

      &.links {
        grid-area: three;
      }

      &.social {
        grid-area: four;
      }
   
      &>address {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }

    &>img {
      display: block;
      width: 8rem;
      height: auto;
      grid-area: logo;
      place-self: center;
    }    
  }
} 

/*====MEDIA QUERIES====*/

/* First breakpoint */
@media only screen and (min-width: 768px) {
  body {
    &>header { 
      &>input#navbar-toggle:checked {
        &~nav {
          clip-path: polygon( /* With clip-path: none, the animation suffers */
            0 0,
            100% 0,
            100% 100%,    
            0 100%,
            0 0
          );
        }

        &~label[for="navbar-toggle"] {
          transform: translateX(256px);

          &>span { 
            &:nth-child(1) {
              transform: translate(8px, 2px) rotate(45deg);
            }

            &:nth-child(2) {
              transform: translate(-8px, 2px) rotate(-45deg); 
            }

            &:nth-child(5) {
              transform: translate(8px, -2px) rotate(-45deg); 
            }

            &:nth-child(6) {
              transform: translate(-8px, -2px) rotate(45deg); 
            }
          }
        }
      }
      
      &>nav {
        width: 392px;
        height: 100vh; /* Fallback */
        height: 100lvh;
        box-shadow: none; /* We shall use drop-shadow filter instead, it renders after clipping */
        transition-property: clip-path; /* Transition on clip-path, instead of scaleY */;
        clip-path: polygon( 
          0 0,
          192px 0,
          192px 88px, 
          0 25%,
          0 0
        );

        &>img.logo {
          width: 80px;
          height: 80px;
          margin: 8px 0 0 8px;
        }
      }
    
      &>label[for="navbar-toggle"] {
        top: 22px;
        left: 136px;
        width: 40px;
        height: 40px;
        row-gap: 8px;
        transition: transform 1s ease; /* To match the expansion of the navbar */
        background-color: #333;
      
        &>span {
          height: 8px;
        }
      } 
    }

    &>footer {
      grid-template-areas:
        "one two"
        "logo logo"
        "three four";
      grid-template-columns: 1fr 1fr;
    }
  }
}

/* Second breakpoint (for footer only) */
@media only screen and (min-width: 1200px) {
  body {
    &>footer {
      grid-template-areas: "one two logo three four";
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

/*
Coarse pointer is not precise, touch 
@media only screen and (hover: none) {
  body {
    &>header {
      &>nav {
        top: 0;
        width: 100vw;
        height: 64px;
      }
    }
  }
}
*/
