* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* Custom CSS properties */
  &:root {
    --text-primary: #b6b6b6;
    --text-secondary: cyan;
    --bg-primary: #333;
    --bg-secondary: #141418;
    --coral-grad: linear-gradient(135deg, #EF7874 0%, #EC635D 100%);
    --purple-grad: linear-gradient(135deg, #9C4B9A 0%, #A971AD 100%);
    --yellow-grad: linear-gradient(135deg, #FCC048 0%, #FDBD41 100%);
  }
}

body {
  font-size: medium;
 
  & a,
  & label,
  & button {
    &:hover {
      cursor: pointer;
    }
  }

  &>header {
    &>input#navbar_toggle:checked {
      &+label[for="navbar_toggle"] { /* Immediate sibling combinator */
        transform: translateX(224px);
      }

      &~nav { /* General sibling combinator */
        width: 320px;
        transition-delay: 0s;

        & input.submenu:checked {
          &+label.dropdown>span.destination::after {
            transform: rotate(-180deg);
          }

          &~ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            row-gap: 0.5rem;
            background-color: gray;
            list-style: none;
          }        
        }

        &>label.dropdown>span.destination::after {
            content: "\25bc";
            display: inline-block; /* To respect the transition */
            margin-left: 16px;
            transition: transform 600ms ease;
        }

        & a,
        & label.dropdown {
          &>span.destination {
            opacity: 1;
            transition-delay: 600ms; /* 600ms delay on the transition, waiting for the navbar to fully expand */
          }
        }
      }
    }

    &>label[for="navbar_toggle"] {
      position: fixed;
      top: 16px;
      left: 96px;
    }

    &>nav {
      position: fixed;
      width: 96px; /* Auto width can't be used on transitions */
      height: 100vh;
      overflow: hidden;
      background-color: var(--bg-primary);
      transition: width 600ms ease;
      transition-delay: 200ms; /* When navbar is unchecked, wait for the texst to fade out */
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      /* Pointer behavior when the navbar is retracted */
      &.inert {
        pointer-events: none;
        user-select: none;
      }
   
      &>img.logo {
        flex: 0 0 80px; /* Shorthand for flex-grow, flex-shrink, flex-basis */
        width: 80px;
        height: auto;
        margin: 16px 8px;
      }

      & a,
      & label.dropdown {
        width: 100%;
        height: 4rem;
        color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &:hover,
        &:focus,
        &:focus-visible { /* It abolishes moot focus, fallback is focus */
          background-color: var(--bg-secondary);
          color: var(--text-secondary);
        }

        &>span.destination {
          display: inline-block; /* So width and opacity transitions work */
          width: 100%;
          opacity: 0;
          overflow: hidden;
          transition: opacity 200ms ease;
          transition-delay: 0s;
        }
      }

      & a {
        text-decoration: none;
      }
 
      &>a,
      &>label.dropdown {
        &>img {
          display: inline-block;
          margin-left: 24px;
          flex: 0 0 48px; 
          width: 48px;
          height: 48px;
        }
      }

      &>label.dropdown+ul {
        display: none;
      }
    }
  }
        
  &>main,
  &>footer {
    margin-left: 96px;
  }

  &>main {
    min-height: 200vh;

    &>h1 {
      margin-top: 100px;
      margin-bottom: 400px;
    }

    &>section.schedules {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
  
      &>figure.schedule {
        width: 400px;
        height: auto;
        padding-bottom: 32px;
        background-image: var(--coral-grad);
        font-size: 24px;
        box-shadow: 0 4px 8px #333;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 48px;
  
        &>figcaption {
          width: 100%;
          display: grid;
          grid-template-rows: 32px 48px 64px;
          grid-template-columns: 200px 48px 1fr;
          grid-template-areas: 
            "banner banner banner"
            "icons grade-index grade-division"
            "field-name field-number field-label";
          row-gap: 16px;

          &>img {
            grid-area: icons;
            width: 48px;
            height: 48px;
            margin-left: 8px;
          }
 
          &>div {
            display: flex; /* Center each section's text, which lies within a span element, not a raw text node */
            justify-content: center;
            align-items: center;
            color: white;
      
            &.banner {
              grid-area: banner;
              margin: -16px 50px 16px 50px; /* For the banner, translating Y creates an undesired stacking context */
              background-image: var(--purple-grad);
            }
  
            &.grade-index {
              grid-area: grade-index;
              font-size: 32px;
              background-image: var(--purple-grad);
            }

            &.grade-division {
              grid-area: grade-division;
              font-size: 32px;
            }

            &.field-name {
              grid-area: field-name;
              background-image: var(--purple-grad);
              color: white;
              font-size: 24px;
            }

            &.field-number {
              grid-area: field-number;
              font-size: 32px;
              font-style: oblique;
              color: black;
              background-color: #ff9900;
            }
  
            &.field-label {
              grid-area: field-label;
              font-size: 20px;
              color: black;
              background-color: #ff9900;
            }
          }
        }
 
        &>table {
          border: none;
          border-collapse: separate;
          border-spacing: 16px 8px; /* column gap, row gap */
  
          &>tbody>tr {
            &::before {
              content: '\25B8'; 
              display: inline-block;
              vertical-align: middle;
              color: rebeccapurple;
            }

            &>td {
              padding: 4px 16px;

              &.subject {
                background-color: #E6E6E6;
                color: #333;
              }
     
              &.hours {
                background-image: var(--purple-grad);
                color: #fff;
                text-align: center;
                font-weight: bold;
              }

              &.total-label {
                background-image: var(--purple-grad);
                color: #fff;
              }
            }
          }
        }
  
        &>a.download {
          width: auto;
          height: 48px;
          padding: 0 16px;
          border: 1px solid black;
          border-radius: 32px;
          font-size: 24px;
          color: black;
          background-color: white;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            color: white;
            background-color: gray; 
            box-shadow: 0 2px 4px black;
          }
        }

        &>input.share {
          width: 300px;
          height: 48px;
          text-align: right;
          font-size: 24px;
        }
      }
    }
  }

  &>footer {
    background-color: #996666;
    
    &>img.logo {
      display:block; 
      width: 64px;
      height: auto;
      object-fit: cover;
    } 
  }
} 